<div class="top_page">
  <%= render 'home/side_bar' %>
  <div class="main_content">
    <div class="content_title">
      <h3>編集 - <%= @content.title %> -</h3>
    </div>
    <div class="back">
      <%= link_to "一覧に戻る", contents_path %>
    </div>
    <div class="new_form">
      <%= render "form", content: @content %>
    </div>
  </div>
</div>
