<div class="top_page">
  <%= render 'home/side_bar' %>
  <div class="main_content">
    <p style="color: green"><%= notice %></p>
    <div class="content_title">
      <h3>日記一覧</h3>
    </div>
    <div id="posts" class="content_box">
      <% @posts.each do |post| %>
        <%= render post %>
      <% end %>
    </div>
  </div>
</div>
