<div class="top_page">
  <%= render 'home/side_bar' %>
  <div class="main_content">
    <div class="content_title">
      <h3>新規登録</h3>
    </div>
    <div class="back">
      <%= link_to "一覧に戻る", posts_path %>
    </div>
    <div class="new_form">
      <%= render "form", post: @post %>
    </div>
  </div>
</div>
