/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "bootstrap-sprockets";

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.header {
  max-width: 100%;
  height: 100px;
  background-color: #000;
  display: flex;
}

.header_bar_left {
  margin-right: auto;
}

.header img {
  width: 400px;
  height: auto;
}

.header_bar_right {
  margin: auto 20px auto auto;
}

.header_bar_right a {
  text-decoration: none;
}

.login {
  color: #000;
  font-size: 20px;
  background-color: #fff;
  border: 1px #fff solid;
  margin: 10px;
  padding: 8px;
}

.notice,
.flash_success {
  color: #008000;
  font-size: 20px;
  background-color: #ccffcc;
  text-align: center;
}

.alert,
.flash_failure {
  color: #f00;
  font-size: 20px;
  background-color: #ffcccc;
  text-align: center;
}

.flash_delete {
  color: #00f;
  font-size: 20px;
  background-color: #c2eeff;
  text-align: center;
}

.main {
  flex: 1;
}

.footer {
  max-width: 100%;
  height: 50px;
  background-color: #000;
}
