<div class="top_page">
  <%= render 'home/side_bar' %>
  <div class="main_content">
    <p class="notice"><%= notice %></p>
    <div class="content_title">
      <h3>カテゴリ一覧</h3>
      <%= link_to "新規登録", new_category_path %>
    </div>
    <div id="categories" class="content_box">
      <% @categories.each do |category| %>
        <%= render category %>
      <% end %>
    </div>
  </div>
</div>
